[submodule "CSR"]
    path = CSR
    url = https://github.com/joemart/CSR

[submodule "SSG"]
    path = SSG
    url = https://github.com/joemart/SSG

[submodule "SSR"]
    path = SSR
    url = https://github.com/joemart/SSR

